__pycache__/
*.pyc
.env
.venv/
dist/
build/
.coverage
.pytest_cache/




"""
Answer these following questions-

what inspired you to make this project
what is the flow of the application 
What are the next steps
what is missing from this project
"""